@font-face {
    font-family: "Gilroy-Medium";
    src: url("../font/Gilroy-Medium.ttf")format("truetype");
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../font/Gilroy-Bold.ttf")format("truetype");
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../font/Gilroy-Regular.ttf")format("truetype");
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("../font/Gilroy-SemiBold.ttf")format("truetype");
}

@font-face {
    font-family: "inter";
    src: url("../font/Inter-Bold.ttf")format("truetype");
}@font-face {
    font-family: "inter-reqular";
    src: url("../font/Inter-Regular.ttf")format("truetype");
}